

.background_hero{
    background-image: url("../images/kids.jpg");
    background-size: cover;
    background-position: center;
}

.centered-card {
  margin: 0 auto;
  max-width: 400px; /* Taille réduite de la carte */
}



.center-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}
footer{
    padding: 0 0 0;
}

.hero-head > .navbar > .container{
    margin: 0;
}

.tile:not(.is-child) {
    display: flex;
    flex-direction: column;
}

